/*Colors: #00af00, #000, #383838*/

* {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-family: "Circe";
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 0;
}

.logo-img {
    width: 400px;
    height: 80px;
}

.order_title {
    font-weight: bold;
    color: #00af00;
    display: inline-block;
}

.group__title {
    color: #000;
}

.label__text {
    margin-left: 5%;
    color: #000;
    font-size: 22px;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
    color: #000;
}

.text__under {
    font-size: 20px;
    color: #000;
    margin-bottom: 0;
}

.text__bold-green {
    color: #00af00;
    font-weight: bold;
    font-size: 24px;
}

.under__line-first {
    margin-top: 60px;
    border-bottom: 1px solid #000;
    width: 250px;
    font-size: 22px;
}

.me-6 {
    margin-right: 10%;
}

.under__line-second {
    margin-top: 60px;
    border-bottom: 1px solid #000;
    width: 640px;
    font-size: 22px;
}

.under__line-third {
    margin-top: 60px;
    border-bottom: 1px solid #000;
    width: 450px;
    font-size: 22px;
}

.under__line-green {
    margin-top: 50px;
    border-bottom: 1px solid #00af00;
    width: 100%;
    font-size: 22px;
}

.border__green {
    border: 2px solid #00af00;
}

.bottom__border-write {
    border-bottom: 1px solid #00af00;
}

.top-margin {
    margin-top: 50px;
}

.top-margin-4mm {
    margin-top: 40px;
}

.other-left-m {
    margin-left: 20px;
}

.top-margin-3mm {
    margin-top: 15px;
}

.shape__des-item, .shape__prom-item, .shape-item {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    display: block;
}

.shape {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

